p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: roboto, sans-serif;
  color: var(--prymary-text-color);
  margin: 0;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

/* ------------------------класы для сброса---------------------- */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}



.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-work {
  padding-top: 0;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
